* {
    font-family: 'Karla', sans-serif;
    color: #293264;
}

body {
    background-color: #F5F7FB;
}

.start-screen {
    width: 99vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

button {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
    margin-top: 20px;
    background-color: #4D5B9E;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    align-self: center;
}

.start-screen small {
    position: absolute;
    bottom: 20px;
}

.select-questions-form {
    width: 50vw;
    height: 98vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    justify-content: center;
}

.quizzical-game {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.quizzical-game fieldset {
    border: none;
}

.choice-container {
    display: flex;
    margin-bottom: 20px;
}
.choice-btn {
    padding: 5px 10px;
    margin-right: 20px;
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.choice-btn label {
    cursor: pointer;
}

.choice-btn input {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

.noQuestionsMsg {
    margin: auto;
}